.img-section{
  width: 500px;
  height: auto;
}

.circle{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: red;
}

.face-canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;

}

.display-screen {
  width: auto;
}

.line-between-screen{
  width: 18px;
  height: auto;
  background-color: #333;
}

.toolbar-flex {
  
}
